
<html>
<head>
    <title>Repport Issues </title>
    <meta name="decorator" content="atl.general">
    
</head>
<body class="page-type-admin">
<div class="content-container">

    <div class="content-body">
      
        #if ($errors.size()>0)
            <div class="aui-message error shadowed">
                #foreach($error in $errors)
                    <p class="title">
                        <span class="aui-icon icon-error"></span>
                        <strong>$error</strong>
                    </p>
                #end
            </div>
            <!-- .aui-message -->
        #end

        #if ($issues.size() > 0)
            <div class="issues">
                <table class="aui">
                    <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>Criticité</th>
                        <th>Type</th>
                        <th>Description</th>
                         <th>Auteur</th>
                        <th>Statut</th>
                        <th>Date ouverture</th>   
                      
                        <th></th>           
                       
                    </tr>
                    </thead>
                    <tbody>
                        #foreach( $issue in $issues )
                        <tr>
                            <td>$issue.getKey()</td>
                            <td>$issue.getPriorityObject().getName()</td>
                           <td> $issue.getIssueTypeObject().getName()</td>
                            <td>
                                #if($issue.getDescription())
                            $issue.getDescription()
                        #end
                            </td>
                             <td>
                                $issue.getReporter().getName()
                            </td>
                            <td>
                                $issue.getStatusObject().getName()
                            </td>
                             <td>
                                $issue.getCreated()
                            </td> 
                            
                           
                             
                               #foreach ($tran in $transitions)
                            
                             <td>
                               OK
                            </td> 
                            #end
                           
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        #end
       

    </div>
    
 
   
  
    
</div>
</body>
</html>